.qrp_menuItem{ display: block; cursor: pointer;}
.qrp_menuItem.selected{font-weight: 800; cursor: default}
.qrp_menuItem:hover{background-color: rgba(0,0,0,0.05); cursor: pointer;}
.qrp_menuItem > .qrp_menuItem-title{ line-height: 50px; padding-left: 60px; height: 50px;}

.selected > .qrp_menuItem-title::before{width: 0; height: 0; border-style: solid; border-width: 5px 0 5px 10px; border-color: transparent transparent transparent #000; content: ""; display: inline-block; margin-right: 10px; }
