.qrp_menuItem{ display: block; cursor: pointer;}
.qrp_menuItem.selected{font-weight: 800; cursor: default}
.qrp_menuItem:hover{background-color: rgba(0,0,0,0.03); cursor: pointer;}
.qrp_menuItem > .qrp_menuItem-title{ line-height: 30px; margin-left: 15px;}