.qrp_dd_cmp_MainCntr{ display: flex; flex-direction: row;}
.qrp_dd_cmp_cntr{ width: 40px; height: 40px; margin: 12px 20px; cursor: pointer;}
.qrp_dd_cmp_cntr > .qrp_dd_cmp_ico { background: transparent; border-radius: 40px; width: 40px; height: 40px; transition: all 200ms ease-in; }
.qrp_dd_cmp_cntr > .qrp_dd_cmp_ico:hover { background:rgba(0, 0, 0, 0.1);transition: all 200ms ease-in; }
.qrp_dd_cmp_cntr.qrp_dd_cmp_ico_isCmp > .qrp_dd_cmp_ico { background: #000; border-radius: 40px; width: 40px; height: 40px; transition: all 200ms ease-in; }