.qrp_dd_cmp_MainCntr{ display: flex; flex-direction: row;}
.qrp_dd_cmp_cntr{ width: 40px; height: 40px;  margin: 25px 10px; line-height: 0; cursor: pointer; transition: all 200ms ease-in;}
.qrp_dd_cmp_ico { width: 80%; margin: 7px 0 0 0;}
.qrp_dd_cmp_cntr.qrp_dd_cmp_ico_isCmp {background: linear-gradient(135deg, #007aff, #3b6dff, #635dff, #8743ff, #a900ff); background: -webkit-linear-gradient(135deg, #007aff, #3b6dff, #635dff, #8743ff, #a900ff); border-radius: 4px; transition: all 200ms ease-in;}
.qrp_dd_cmp_cntr.qrp_dd_cmp_ico_isCmp:hover {background: linear-gradient(135deg, #007aff, #3b6dff, #635dff, #8743ff, #a900ff); background: -webkit-linear-gradient(135deg, #007aff, #3b6dff, #635dff, #8743ff, #a900ff); opacity: 0.8; border-radius: 2px; transition: all 200ms ease-in;}
.qrp_dd_cmp_ico_onHvrTxt{ position: absolute; opacity: 0; width: 175px;
  line-height: 0;
  height: 20px;
  transition: opacity 200ms ease-in;
  font-weight: 600px;
  z-index: 6; cursor: default; font-size: 1rem; margin: 30px 0 0 -66px; pointer-events: none;}

.qrp_dd_cmp_ico_onHvrTxt.qrp_dd_cmp_ico_isHvr { opacity: 1; transition: opacity 200ms ease-in;}
