.qrp_menu-navigation{
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 300px;
  max-height: calc(100vh - 105px);
  height: calc(100vh - 105px);
  margin-top: 15px;
  z-index: 10;
}
.qrp_MenuNavContainer{
  height: 100%;
  width: 360px;
}

.qrp_menu_nav_br{
  position: relative;
}

/* .qrp_stdsm{ color: blueviolet} */
