.qrp_bnico-container{ height: 200px; width: 200px; margin: auto; }
.qrp_bn-container{flex-direction: column; display: flex;}
.qrp_bnt{text-align: center; font-size: 40px;}
.qrp_bnch-container{display: flex; flex-flow: wrap; margin: auto;}