.NavItem{
  min-height: 50px;
  cursor: pointer;
}

.DropDown{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 8px 0 8px;
  border-color: #0D0D0D transparent transparent transparent;
}

.NavItem:hover{
  background-color: rgba(0,0,0,0.03);
}

.LeftBar.Closed .NavItem{
  opacity: 0;
  transition: all linear 400ms;
}

.NavItem.Open{
  color: #0D0D0D;
  opacity: 1;
  transition: all linear 400ms;
}

.NavItem .Name{
  font-size: 22px;
  font-weight: 600;
  line-height: 50px;
  margin-left: 30px;
}

.NavItem .DropDown{
  margin: auto 50px;
}

.dropdown-container{
  cursor: pointer;
  transition: all linear 400ms;
}

.dropdown-container > div{
  height: 0px;
  opacity: 0;
  transition: all linear 400ms;
}

.NavItem.Open > .dropdown-container > div{
  height: 50px;
  opacity: 1;
  transition: all linear 400ms;
}
