.qrp_gSearch{ background: inherit; text-align: left; margin: 0 30px; background: #ffffff; border-radius: 2px;}
.qrp_gSearch_input{border: none; height: 50px; font-size: 20px; line-height: 50px; color: #808080;  padding: 0 16px; outline: none;}
.qrp_gSearch.fright{ margin: 5px !important; padding-left: 0px !important;}
