.qrp_gSearch{ background: inherit; text-align: left; margin: 0 30px; background: #fff; border-radius: 2px; width: calc(100% - 60px);display: block; height: 48px;}
.qrp_gSearch_input{border: none; height: 48px; font-size: 20px; line-height: 50px; color: #808080;  padding: 0 0 0 16px; outline: none;}
.qrp_gSearch.fright{ margin: 20px 15px 20px 0 !important; background-color: #F2F2F2; color: #808080; max-width: 290px; z-index: 3;}
.qrp_gSearch.fright > input{background-color: transparent;}
.qrp_gSearch.fright > .qrp_srico{margin-left: auto;}
