.qrp_gSearch{ background: inherit; text-align: left; margin: 5px 0 0 10px; padding-left: 5px; }
.qrp_gSearch_input{ background: #ffffff;}
.qrp_gSearch.fright{ margin: 5px !important; padding-left: 0px !important; }