.qrp_hover { position: relative;}
.qrp_hover:hover .qrp___no-hover { opacity: 0; }
.qrp_hover:hover .qrp___hover { opacity: 1; }
.qrp___hover { position: absolute; top: 0; opacity: 0; }
.qrp___no-hover { opacity: 1; }