.qrp_varr{width: 100% }
.qrp_hCtr{height: 64px; padding: 0; margin: 0;}
.qrp_iCtr{flex: 4 0 0; margin-left: 20px; font-weight: 600; line-height: 64px;}
.qrp_varrintflt{flex: 1 0 0; margin: 0; margin-right: 20px;}
.qrp_varrintflt > input{border: none; margin: 12px 0; height: 40px; font-size: 20px; line-height: 40px; color: #808080;  padding: 0 16px; outline: none; background-color: #F2F2F2;}
td { padding: 6px }
table{ text-align: left}
.qrp_lselected{ font-weight: 800 }
