.qrp_varr{width: 100% }
.qrp_hCtr{height: 64px; padding: 0; margin: 0; z-index: 3; background-color: #fff; display: block !important;}
.qrp_iCtr{margin-left: 20px; font-weight: 600; line-height: 64px; display: inline-block; float: left;}
.qrp_varrintflt{margin: 0; margin-right: 20px; display: inline-block; float: right; height: 40px; margin: 12px 20px 12px 0; background-color: #F2F2F2;}
.qrp_varrintflt > input{border: none; height: 40px; font-size: 20px; line-height: 40px; color: #808080;  padding: 0 16px; outline: none; background-color: transparent;}
.qrp_varrintflt > span.qrp_srico {margin-left: -35px; width: 20px;}
td { padding: 6px }
table{ text-align: left; width: 100%; border-collapse: collapse;}
.qrp_lselected{color: #fff; background-image: linear-gradient(to right bottom, #007aff, #3b6dff, #635dff, #8743ff, #a900ff);}
/* th { padding: 6px; } */
/* .qrp_tbCtr{ overflow-x: hidden; overflow-y: auto; max-height: 300px;} */
table thead, table tbody { display: block;}
table tbody{border-right: 1px solid rgba(0,0,0,0.2); border-image:linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0, 0, 0, 0)) 1 100%;}
table thead{height:48px; line-height:48px; border-bottom: 1px solid rgba(0,0,0,0.2)}
tbody tr {height:48px}
.qrp_tbodymxh{ max-height: calc(100vh - 203px); font-size: 14px;}
.qrp_tCtr{z-index: 1;}
.qrp_hfltIcon{ cursor: pointer; color: black; padding-right: 16px; background: url("/img/filter.svg") no-repeat center center; background-size: 140%; height:40px; display: inline-block; float: right; margin-right: 15px;}
