.qrp_navigation-container{
  -webkit-box-shadow: 6px 3px 75px 27px rgba(0,0,0,0.10);
  -moz-box-shadow: 6px 3px 75px 27px rgba(0,0,0,0.10);
  box-shadow: 6px 3px 75px 27px rgba(0,0,0,0.10);
  z-index: 2;
  background-color: #F2F2F2;
}
