.qrp_navigation-container{max-width: 383px;-webkit-box-shadow: 1px 4px 56px 5px rgba(0,0,0,0.05);-moz-box-shadow: 1px 4px 56px 5px rgba(0,0,0,0.05);box-shadow: 1px 4px 56px 5px rgba(0,0,0,0.05); z-index: 4;  background-color: #F2F2F2 !important; border-right: 1px rgba(0,0,0,0.05) solid;}
.qrp_navigation-static-container{background-color: #fff; z-index: 5;}
