.NavItem{
  display: flex;
  flex-direction: row;
  height: 50px;
  cursor: pointer;
}

.NavItem:hover{
  background-color: rgba(0,0,0,0.03);
}

.LeftBar.Closed > .Nav > .NavItem{
  opacity: 0;
}

.NavItem.Open{
  color: #0D0D0D;
  opacity: 1;
  animation-duration: 0.4s;
  animation-name: fadein;
  animation-timing-function: ease-in-out;
}

.NavItem > .Name{
  font-size: 22px;
  font-weight: 600;
  line-height: 50px;
  margin-left: 30px;
  margin-right: auto;
}

.NavItem > .DropDown{
  margin-left: auto;
  margin: auto 50px;
}
