.NavItem{
  display: flex;
  flex-direction: column;
  height: 50px;
  cursor: pointer;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.NavItem:hover{
  background-color: rgba(0,0,0,0.03);
}

.LeftBar.Closed > .Nav > .NavItem{
  opacity: 0;
}

.NavItem.Open{
  color: #0D0D0D;
  opacity: 1;
  animation-duration: 0.4s;
  animation-name: fadein;
  animation-timing-function: ease-in-out;
}

.NavItem .Name{
  font-size: 22px;
  font-weight: 600;
  line-height: 50px;
  margin-left: 30px;
}

.NavItem.Open > .dropdown-container{
  height: auto;
}

.NavItem .DropDown{
  margin-left: auto;
  margin: auto 50px;
}

.dropdown-container{
  height: 0px;
  display: block;
  cursor: pointer;
}

.dropdown-container > div{
  height: 0px;
  opacity: 0;
}

.NavItem.Open > .dropdown-container > div{
  opacity: 1;
}