.qrp_arrClsHid{padding-left: 20px; min-width: 81px;}
.qrp_arrClsHname{width: 100%;}
.qrp_arrClsHcrit{ min-width: 70px; margin-right: 16px;}
.qrp_arrClsHver{min-width: 166px;}
.qrp_cmptrCCrit.qrp_critical{margin: 16px 30px !important; padding: 0px !important;}
.qrp_cmptrCCrit{ padding: 16px 38px; }
.qrp_cmptrCname{width: 100%;}
.qrp_cmptrCVersion{min-width: 125px;}
.qrp_cmptrCid{ padding-left: 20px; min-width: 73px; }
.qrp_cmp_t_cntr{ min-width: 490px; max-width: 60vw; width: 100%; }
.qrp_cmp_t_isN{ background: #76faa2; }