.qrp_arrClsHid{padding-left: 10px; min-width: 60px;}
.qrp_arrClsHname{width: 100%;}
.qrp_arrClsHcrit{padding-right: 20px;}
.qrp_arrClsHver{min-width: 150px;}
.qrp_cmptrCCrit{margin: 16px 30px !important;}
.qrp_cmptrCname{width: 100%;}
.qrp_cmptrCVersion{min-width: 125px;}
