.left{ float: left; }
.right{ float: right; }
.black{ color: black; background-color: black }
.whiteBorder{ border: 1px solid #fff;}
.fixedTop{ position:fixed; top:0; left:0; }
.menu-icon{ position: absolute; margin: 15px }
.square30{ height: 45px; width: 45px;}
.header{ height: 60px; width: 100%; background: rgb(141, 141, 204); z-index: 1;}

.huge{ min-height: 1200px; }
.body{ position: absolute; top: 60px; left: 0; overflow-y: auto;}