.qrp_headerBar {
  display: flex;
  background-color: inherit;
  flex-grow: 1;
  height: 90px;
  z-index: 3;
}

.qrp_headerBar_pathContainer{
  display: flex;
  flex-direction: row;
  line-height: 90px;
  font-size: 20px;
}