.qrp_headerBar {
  display: flex;
  background-color: aquamarine;
  flex-grow: 1;
  height: 40px;
}

.qrp_headerBar_pathContainer{
  display: flex;
  flex-direction: row;
  margin: 2px;
}

.qrp_headerBar_pathElement{
  display: flex;
  flex-direction: row;
  margin: 8px 15px;
}

.qrp_headerBar_pathElement_icon{
  display: inline-block;
  background-repeat: 'no-repeat';
  background-position: 'center';
  background-size: '80%';
  cursor: pointer;
}

.qrp_headerBar_pathElement_Separator{ font-weight: 800; margin-left: 15px; cursor: default;}
.qrp_headerBar_pathElement_text{ cursor: pointer;}