.qrp_headerBar {
  display: flex;
  background-color: inherit;
  flex-grow: 1;
  height: 90px;
  z-index: 3;
}

.qrp_headerBar_pathContainer{
  display: flex;
  flex-direction: row;
  line-height: 90px;
  font-size: 20px;
}

.qrp_headerBar_pathElement{
  display: flex;
  flex-direction: row;
}

.qrp_headerBar_pathElement_icon{
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  cursor: pointer;
  width: 80px;
  height: 90px;
}

.qrp_headerBar_pathElement_Separator{ font-weight: 800; margin-left: 15px; cursor: default;}
.qrp_headerBar_pathElement_text{ cursor: pointer; white-space: nowrap;}
.qrp_headerBar_search_pathElement_closeBtn{ height: 70%; width: 70%; margin: 4px 0 0 20px; cursor: pointer; }
