pre{ white-space: pre-wrap;}
.qrp_bdet_hCntr{padding: 30px 30px; display: flex; flex-direction: row; align-items: center;}
.qrp_bdet_hCntr h2{margin: 0; color: #1A1A1A; font-size: 24px; font-weight: 600; max-width: calc(100% - 50px);}
.qrp_bdet_hCntr h2::after{width: 50px; height: 3px; content: ""; display: block; background-color: #1A1A1A;margin-top: 10px;}
.qrp_bdet_weightCntr {color: #1A1A1A; line-height: 24px; font-size: 20px; font-weight: 600; text-align: center; top: -30px; margin-left: auto; width: 60px; height: 60px}
.qrp_bdet_tagCntr {margin: 10px 30px; display: flex; flex-direction: row; align-items: center; flex-wrap: wrap;}
.qrp_bdet_tag{font-size: 16px; cursor: pointer; color: #fff; height: 26px; line-height: 26px; padding: 4px 10px; background-color: #595959; border-radius: 16px;margin: 0 0px 3px 15px;}
.qrp_bdet_tagtechno{font-size: 18px; cursor: pointer; color: #1A1A1A; height: 36px; line-height: 36px; padding: 0 10px; background-color: transparent; border-radius: 2px;margin: 0 0px 3px 15px; border: 1px solid #595959;}
.qrp_bdet_txt{font-size: 18px !important; color: #1A1A1A; margin: 0 30px; padding: 0; font-weight: 600;}
.qrp_bdetContr_main p {font-size: 14px; margin: 30px 30px;}
.qrp_bdet_hCntr > .qrp_critical{margin-top: 5px; margin-right: 0;}
pre{margin: 0 30px;}
.qrp_bdetcntr{height: 100%;}
.qrp_bdet_nRls{margin-top: 50%}
.qrp_bdet_w8t_ico{ background-image: url(/img/weight.svg); background-repeat: no-repeat; background-position: center; background-size: contain; height: 55px;}
.qrp_bdet_w8t_red_ico{ background-image: url(/img/weightred.svg); background-repeat: no-repeat; background-position: center; background-size: contain; height: 55px;}
.qrp_bdet_w8t { font-size: 26px; color: #fff; position: relative; top: 22px;}

.qrp_bdet_sweight_ico {background-image: url(/img/weight.svg); background-repeat: no-repeat; background-position: center; background-size: contain; height: 30px;}
.qrp_bdet_sw8t { font-size: 14px; color: #fff; position: relative; top: 4px;}
.qrp_bdet_tag_text { margin: 0 0 0 30px !important; max-width: 85%; }

p {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.qrp_bdet_tag .tooltiptext {
  visibility: hidden;
  width: 800px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 99;
  opacity: 0;
  transition: opacity 0.3s;
  top: 23%;
  left: 18%;
}

.qrp_bdet_tag:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.qrp_weight_tag_cntr {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  min-height: 40px;
  justify-content: space-between;
}

