pre{ white-space: pre-wrap;}
.qrp_bdet_hCntr{padding: 30px 30px; display: flex; flex-direction: row; align-items: center;}
.qrp_bdet_hCntr h2{margin: 0; color: #1A1A1A; font-size: 24px; font-weight: 600; max-width: calc(100% - 50px);}
.qrp_bdet_hCntr h2::after{width: 50px; height: 3px; content: ""; display: block; background-color: #1A1A1A;margin-top: 10px;}
.qrp_bdet_weightCntr {color: #1A1A1A; line-height: 24px; font-size: 20px; font-weight: 600; text-align: center; top: -30px; margin-left: auto; width: 60px; height: 60px}
.qrp_bdet_tagCntr {margin: 0 30px; display: flex; flex-direction: row; align-items: center; flex-wrap: wrap;}
.qrp_bdet_tag{font-size: 20px; cursor: pointer; color: #fff; height: 40px; line-height: 40px; padding: 0 20px; background-color: #595959; border-radius: 2px;margin: 0 0px 3px 15px;}
.qrp_bdet_txt{font-size: 18px !important; color: #1A1A1A; margin: 0 30px; padding: 0; font-weight: 600;}
.qrp_bdetContr_main p {font-size: 14px; margin: 30px 30px;}
.qrp_bdet_hCntr > .qrp_critical{margin-top: 5px; margin-right: 0;}
pre{margin: 0 30px;}
.qrp_bdetcntr{height: 100%;}
.qrp_bdet_nRls{margin-top: 50%}
.qrp_bdet_w8t_ico{ background-image: url(/img/weight.svg); background-repeat: no-repeat; background-position: center; background-size: contain; height: 55px;}
.qrp_bdet_w8t { font-size: 26px; color: #fff; position: relative; top: 22px;}
p {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
