.qrp_submenu{ position: relative; text-align: left; cursor: pointer; min-height: 50px;}
.qrp_submenu-title{ line-height: 50px; margin-left: 0px; font-size: 22px; font-weight: 400; padding-left: 30px; height: 50px;}
.qrp_submenu-title:hover{background-color: rgba(0,0,0,0.05); cursor: pointer;}
.qrp_dropdown{ display: none; position: relative; cursor: pointer}

.qrp_dropdown > .qrp_submenu > .qrp_submenu-title {padding-left: 40px;}
