.qrp_arrRlsHid{ min-width: 81px; padding-left: 20px;}
.qrp_arrRlsHname{width: 100%;}
.qrp_arrRlsHcrit{ min-width: 70px; margin-right: 16px;}
.qrp_arrRlsHTechnos{ min-width: 166px; }
.qrp_brl_tbCrid{ padding-left: 20px; vertical-align: top; }
.qrp_brl_tbCrname{width: 100%}
.qrp_brl_tbCrTechno{ list-style-type: none; display:flex; }
.qrp_brl_tbCrTechno span {font-size: 9px; margin-top: 2px; margin-right: 4px; padding-left:2px; padding-right:2px; border:1px solid; }
.qrp_brl_tbCrCriti.qrp_critical{margin: 16px 15px 16px 40px !important; padding: 0px !important;}
.qrp_brl_tbCrCriti{ padding: 16px 38px; }
