.qrp_arrRlsHid{ min-width: 81px; padding-left: 20px;}
.qrp_arrRlsHname{width: 100%;}
.qrp_arrRlsHcrit{ min-width: 70px; margin-right: 16px;}

.qrp_brl_tbCrid{ min-width: 73px;padding-left: 20px;}
.qrp_brl_tbCrname{width:100%}
