
.qrp_i_ovl_body{ display: none; 
  background-color: #fff; 
  flex-direction: row;
  width: 40vw; margin: 15vh auto; 
  border-radius: 4px; padding: 25px; 
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.3);}

.qrp_i_ovl_scra{ overflow-x: hidden; overflow-y: auto; max-height: 60vh;}

.qrp_ovl_visible .qrp_i_ovl_body{ display: flex; }
.qrp_i_ovl_body-title{ text-align: center;}
.qrp_i_ovl_t_logo{ background-image: url(/img/LogoStructuralRules.svg); background-size: 80%; background-repeat: no-repeat; background-position: center center;
  height: 50px; width: 50px; margin-top: 8px; display: block;}
.qrp_i_ovl_t_cntr{ display: flex; flex-direction: row; justify-content: center;}
