
.qrp_i_ovl_body{ display: none;
  background-color: #fff;
  flex-direction: row;
  height: 602px;
  max-width: 1052px; margin: 15vh auto;
  border-radius: 4px; padding: 0;
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.3)}

.qrp_i_ovl_scra{ overflow-x: hidden; overflow-y: auto; max-height: 522px;}

.qrp_ovl_visible .qrp_i_ovl_body{ display: flex; }
.qrp_i_ovl_body-title{ text-align: center;}
.qrp_i_ovl_t_logo{ background-image: url(/img/aboutlogo.svg); background-size: 80%; background-repeat: no-repeat; background-position: center center;
  height: 50px; width: 50px; margin-top: 8px; display: block;}
.qrp_i_ovl_t_cntr{ display: flex; flex-direction: row; justify-content: center;}
.qrp_i_ovl_leftpanel{background-image: linear-gradient(to right bottom, #007aff, #3b6dff, #635dff, #8743ff, #a900ff); color: #fff; padding: 150px 40px 40px 40px; border-radius: 2px 0 0 2px; ; display: flex; flex-direction: column; min-width: 446px;}
.qrp_i_ovl_rightpanel{padding: 40px; max-width: 446px; min-width: 300px;}
.qrp_i_ovl_logozone{width: 100%;}
.qrp_i_ovl_t_logo{width: 50px; margin: 0 auto;}
.qrp_i_ovl_body-title{font-size: 22px; font-weight: 900; text-transform: uppercase;}
.qrp_i_ovl_ver{text-align: center;}
.qrp_i_ovl_licence{margin-top: auto; display: flex; flex-direction: column;}
.qrp_i_ovl_lictype{width: 100%; text-decoration: underline; cursor: pointer;}
.qrp_i_ovl_body_nws > p {font-size: 14px; word-break: keep-all;}
.qrp_i_ovl_body_nws > h3 {margin-top: 0;}
.qrp_i_ovl_body_lic > p {font-size: 12px;}
.qrp_i_ovl_body_lic > h3 {margin-top: 0;}
.qrp_i_ovl_licinfo{text-align: center;}
.qrp_i_ovl_closingCross{background-image: url(/img/close-button.svg); width:22px; height:22px; cursor: pointer; margin-left: auto; margin-top:-45px; margin-bottom:30px;}
.qrp_i_ovl_castLogoWhite{background-image: url(/img/castsoftwarewhite.svg); width: 160px; height: 20px; background-size: cover; margin: 20px auto 0 auto}
.qrp_i_ovl_licinfo{ cursor: pointer; }