.qrp_fltbetaMrk{width: 30px; height: 30px; position: fixed; top: 60px; left:30px; z-index: 5; background-image: url(/img/beta.svg); opacity: 1; filter: grayscale(0%); transition: all 0.3s;}
.qrp_fltbetaMrk:hover{opacity: 0.2; filter: grayscale(100%);}
