.qrp_fltbetaMrk{width: 50px; height: 50px; position: fixed; bottom: 30px; right:30px; background-image: url(/img/beta.svg); opacity: 1; filter: grayscale(0%); transition: all 0.3s;}
.qrp_fltbetaMrk:hover{opacity: 0.2; filter: grayscale(100%);}
