.qrp_tile_nfoh{
  position: absolute;
  width: 100px;
  margin-left: -50px;
  margin-top: 107px;
  opacity: 1;
  transition: 0.1s ease-in;
}

.qrp_tile{background: #FFFFFF; width:100px ;height:100px; font-size:14px; color: #888888; letter-spacing: 1px; text-align: center; border:1px solid #EBE9E9; padding: 0 10px ; margin: 16px 16px 32px 16px; user-select: none;
  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; cursor: pointer;}
.qrp_tile:hover{background: #FFFFFF;box-shadow: 0 23px 18px 0 rgba(0,0,0,0.20);}
.qrp_tile:active{background: #E8F5FC;box-shadow: 0 12px 9px 0 rgba(0,0,0,0.40);}