.qrp_tile_nfoh{
  position: relative;
  width: 150px;
  font-weight: 500;
  font-size: 16px;
  color: #333;
  opacity: 1;
  transition: 0.1s ease-in;
  line-height: 16px;
  text-align: center;
  top: 165px;
}

.qrp_tile{background: #FFFFFF; width:150px ;height:150px; font-size:14px; color: #888888; letter-spacing: 1px; text-align: center; padding: 0; margin: 16px 16px 64px 16px; user-select: none; -webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.3);-moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.3);box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.3); -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; cursor: pointer; border-radius:4px;}
.qrp_tile:hover{background: #FFFFFF;box-shadow: 0 23px 18px 0 rgba(0,0,0,0.20);}
.qrp_tile:active{background: #E8F5FC;box-shadow: 0 12px 9px 0 rgba(0,0,0,0.40);}
.qrp_bdet_txt{font-size: 24px !important; color: #1A1A1A; margin: 0 30px; padding: 0; font-weight: 800;}
.qrp_bdetContr_main p {font-size: 18px; margin: 30px 30px;}
.qrp_bdetContr_main {margin-bottom: 80px;}
