.qrp_submenu{ position: relative; text-align: left; cursor: pointer; min-height: 50px;}
.qrp_submenu-title{ line-height: 50px; margin-left: 0px; font-size: 22px; font-weight: 600;}
.qrp_dropdown{ display: none; position: relative; margin-left: 10px; cursor: pointer}
