.qrp_lpSsep{ font-weight: 600; cursor: default;}
.qrp_lpslink{ font-weight: 600; padding: 0 10px;  color: #1A1A1A;}
.qrp_lpiCntr{ height: 150px; width: 150px; margin: 0 auto}
.qrp_lpCntr{ width: 100%; text-align: center; font-size: 20px; display: flex; flex-direction: column;}
.qrp_lpnav{ margin-top: 30px; display: flex; flex-direction: row; align-content: center; justify-content: center;}
.qrp_lptitleCntr{font-size: 50px; font-weight: 600; text-transform: uppercase;}
.qrp_lpslinkCntr{ height: 200px; width: 200px; display: flex; flex-direction: column; align-items: center; justify-content: center; cursor: pointer; color: rgba(0,0,0,0.5); transition: all 0.3s;}
.qrp_lpslinkCntr:hover{color: rgba(0,0,0,1)}
.qrp_lpslinkBlk{ width: 150px; height: 150px; opacity: 0.4; filter: grayscale(50%);transition: all 0.3s;}
.qrp_lpslinkBlk:hover{opacity: 1; filter: grayscale(0%);}
.qrp_lpslinkBlkTlt{font-weight: 600;}
.qrp_lpSCntr{margin-top: 5vh;}
.qrp_lpsecInfo{background-image: linear-gradient(to right bottom, #333333, #5d5d5f, #b3b3b3, #c9c9c9, #ffffff); color: #fff; 
  max-width: 48vw; margin: 30px auto; padding: 20px; border-radius: 5px; font-size: 18px;
  opacity: 1; transition: opacity ease-out 400ms; 
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.3);}
.qrp_lpsecInfoCntr{width: 100%; justify-content: center;}
.qrp_lpOpa0{opacity: 0;}