.qrp_lpSsep{ font-weight: 800; margin-left: 15px; cursor: default;}
.qrp_lpslink{ font-weight: 800; padding: 0 10px }
.qrp_lpiCntr{ height: 300px; width: 300px; margin: 100px auto 0px auto}
.qrp_lpCntr{ width: 100%; text-align: center; }
.qrp_lptitleCntr{ font-size: 40px; line-height: 40px; font-weight: 800; }