.qrp_lpSsep{ font-weight: 800; cursor: default;}
.qrp_lpslink{ font-weight: 800; padding: 0 10px;  color: #1A1A1A;}
.qrp_lpiCntr{ height: 150px; width: 150px; margin: 175px auto 75px auto}
.qrp_lpCntr{ width: 100%; text-align: center; font-size: 20px;}
.qrp_lpnav{ font-size: 31px; margin-top: 30px; line-height: 31px;}
