.navBar_header{
  top:0;
  left:0;
  width: 150px;
  height: 50px;
}

.navBar_title{ text-align: center; line-height: 50px; float: left; font-weight: 800; }

.expandedNav{
  width: 300px !important;
}

.navBar_Icon{
  margin: 0;
  padding: 0;
  border: 0;
  height: 50px;
  width: 50px;
  float: left;
}

.navBar_img_icon{
  padding-top: 7%;
  margin: auto;
  height: 80%;
  width: 80%;
}