.qrp_navBar_header{
  top:0;
  left:0;
  width: 150px;
  height: 40px;
}

.qrp_navBar_title{ text-align: center; line-height: 40px; float: left; font-weight: 800; }

.qrp_expandedNav{
  width: 265px !important;
}
.qrp_xmrgl_10{ margin-right: 20px !important; }
.qrp_navBar_Icon{
  margin: 0;
  padding: 0;
  border: 0;
  height: 40px;
  width: 40px;
  float: left;
  cursor: pointer;
  line-height: 50px; /*temporary */
}

.qrp_navBar_img_icon{
  padding-top: 10px;
  margin: auto;
  height: 60%;
  width: 60%;
}